.orange {
	--orange-1: #fefcfb;
	--orange-5: #ffd3a4;
	--orange-6: #ffc291;
	--orange-7: #ffaa7d;
	--orange-8: #ed8a5c;
	--orange-10: #ed5f00;
	--orange-11: #99543a;
	--orange-12: #582d1d;
}

.orangeDark {
	--orange-3: #341c0a;
	--orange-4: hsl(25, 64.6%, 14.9%);
	--orange-5: hsl(25, 64.3%, 17.8%);
	--orange-6: #5d3213;
	--orange-7: #7e4318;
	--orange-8: hsl(25, 70.3%, 44.9%);
	--orange-10: hsl(24, 100%, 58.5%);
	--orange-11: hsl(24, 100%, 70%);
	--orange-12: #ffe0c2;
}

.amber {

	--amber-1: #fefdfb;
	--amber-2: #fff9ed;
	--amber-3: #fff3d0;
	--amber-5: #ffe0a1;
	--amber-6: #f5d08c;
	--amber-7: #e4bb78;
	--amber-9: #ffc53d;
	--amber-11: #915930;
}
.mintDark {
	--mint-2: #0a1f1d;
	--mint-3: #0d2927;
	--mint-4: #0e322e;
	--mint-5: #103b36;
	--mint-6: #134842;
	--mint-7: #186057;
	--mint-8: #248f7d;
	--mint-9: #86ead4;
	--mint-10: #95f3d9;
	--mint-11: #49dfbe;
	--mint-12: #c4f5e1;
}
